-
  const FeaturesData = [
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с\u00A0привязкой к\u00A0территориям и\u00A0адресам',
        'Представление задач в\u00A0виде «Списка» или\u00A0«Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при\u00A0постановке задачи',
        'Автоматический сбор отчетов по\u00A0результатам выполнения задач',
        'Представление задач на\u00A0Карте',
      ]
    },
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Создание задач с\u00A0привязкой к\u00A0территориям и\u00A0адресам',
      features: [
        'Гибкая настройка Маршрута выполнения задачи по\u00A0адресам необходимой территории',
      ],
    },
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Отображение задач и\u00A0результатов работ на\u00A0картах',
      features: [
        'Отображать на\u00A0Карте целевые показатели задач, параметры территорий, промежуточные результаты выполнения задач.',
      ]
    },
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Проведение опросов любых типов, создание анкеты с\u00A0помощью Конструктора анкет',
      features: [
        'В МП ««Модуль А» доступен «Конструктор анкеты» опроса, с\u00A0возможностью задания различных типов вопросов, произвольного алгоритма проведения опроса',
        'Автоматическое формирование Отчетов по\u00A0результатам опроса в\u00A0режиме онлайн',
      ]
    },
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Осуществление таск-менеджмента',
      features: [
        'Создавать задачи с\u00A0привязкой к\u00A0территориям и\u00A0адресам',
        'Представление задач в\u00A0виде «Списка» или\u00A0«Карточек задач»',
        'Гибкая настройка алгоритма выполнения работ Исполнителями при\u00A0постановке задачи',
        'Автоматический сбор отчетов по\u00A0результатам выполнения задач',
        'Представление задач на\u00A0Карте',
      ]
    },
    {
      ico: 'img/',
      img: {
        xs: 'img/',
        md: 'img/',
        lg: 'img/'
      },
      title: 'Обучение и\u00A0тестирование сотрудников  внутри приложения',
      features: [
        'Выставлять в\u00A0«Модуль А» обучающие видео-материалы, инфографику, PDF-инструкции',
        'Таргетировать обучающие материалы под\u00A0различные целевые аудитории сотрудников (учитывая их\u00A0знания, навыки и\u00A0опыт)',
        'Конструировать и\u00A0запускать в\u00A0приложении опросы в\u00A0виде Тестов,  с\u00A0любой логикой движения пользователя внутри теста',
      ]
    },
  ]
