extends ../pug/layout.pug

block meta
  title= MainMenuData['about'].name
  meta(name='description', content='')
  - let myPageTitle = MainMenuData['about'].name;

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  h1 Заголовок

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
