extends ../pug/layout.pug

block meta
  - let myPageTitle = MainMenuData['policy'].name;

block content
  section.policy
    h1.policy__title(lang='ru') Политика конфиденциальности

    .policy__text-wrapper
      h2.policy__header Политика конфиденциальности мобильного приложения «Модуль А»

      p.policy__text Настоящая Политика конфиденциальности для мобильного приложения (далее — Политика) действует в отношении той информации, которую Общество с ограниченной ответственностью «Социальные цифровые платформы» (ОГРН: 1217700181181; ИНН: 9731078217, адрес: 121205, г. Москва, Сколково инновационного центра территория, Большой бульвар, дом 42 строение 1, пом.1114) (далее – Компания) может получить с устройства пользователя во время использования им мобильного приложения «Модуль А» (далее – Приложение).

      p.policy__text Использование Приложения означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки информации, получаемой с устройства пользователя. В случае несогласия с Политикой пользователь должен воздержаться от использования Приложения.

      p.policy__text Приложение и услуги в рамках Приложения позволяют пользователю осуществлять взаимодействие с Компанией на основании заключенных договоров и соглашений с Компанией, которые в числе прочего регулируют все вопросы обработки и хранения Компанией персональных данных пользователя.

      p.policy__text Настоящая Политика применима только к Приложению. Компания не контролирует и не несет ответственность за информацию (последствия её передачи), переданную пользователем третьей стороне, в случае если такая передача была выполнена на ресурсе третьей стороны, на который пользователь мог перейти по ссылкам из Приложения.

      p.policy__text  Компания имеет право вносить изменения в настоящую Политику путем размещения новой редакции Политики на сайте Компании и/или в Приложении. Обязанность самостоятельного ознакомления с актуальной редакцией Политики лежит на пользователе.

      h3.policy__header2 1. Состав информации, которая может быть получена с устройства пользователя при использовании Приложения и цели её получения (далее - Информация пользователя):

      p.policy__text 1.1 Информация о местоположении устройства пользователя (на основе данных сети оператора сотовой связи и сигналов GPS) о номере телефона устройства, используется для информирования о дополнительных сервисах, доступных пользователю и обусловленных его местоположением.

      p.policy__text 1.2 Информация (включая, но не ограничиваясь, персональные данные), которую Пользователь самостоятельно предоставляет Компании при осуществлении действий, направленных на регистрацию Приложения (в т.ч. активация) либо в рамках его использования (в т.ч. создание учетной записи, обращение в службу поддержки). Информация предоставляется путем заполнения Пользователем соответствующих форм, при этом объем предоставления информации при заполнении необязательных полей указанных форм определяется Пользователем самостоятельно.

      p.policy__text 1.3 Фотоизображения, полученные с использованием камеры устройства, используются в рамках услуг, реализуемых в Приложении, а также использования в качестве подтверждающих документов.

      p.policy__text 1.4 Информация о мобильном устройстве, такая как модель мобильного устройства, версия операционной системы, уникальные идентификаторы устройства, а также данные о мобильной сети и номер мобильного телефона, используются для анализа возможных ошибок в работе Приложения и совершенствование работы Приложения.

      p.policy__text 1.5 Информация о совершаемых операциях, такая как место, время совершенных операций в Приложении, данные используемые в рамках сервисов, реализуемых в Приложении, в том числе для улучшения предоставляемых Компанией пользователю предложений.

      p.policy__text 1.6 Иная информация о Пользователе, которую получает Компания исключительно в указанных в разделе 3 настоящих Условий о конфиденциальности целях.

      h3.policy__header2 2. Условия обработки Информации пользователя

      p.policy__text 2.1 В соответствии с настоящей Политикой Компания осуществляет обработку только той информации и только для тех целей, которые определены в пункте 1.

      p.policy__text 2.2 Компания принимает все зависящие от Компании организационные и технические меры для защиты Информации пользователя от неправомерного доступа третьих лиц, использования, копирования и распространения.

      p.policy__text 2.3 Для целей, изложенных в настоящей Политике, Компания может привлекать к обработке Информации пользователя партнеров, с которыми у Компании заключены соответствующие соглашения о конфиденциальности. Передача Компанией партнерам обезличенных данных об использовании Приложения для целей улучшения работы Приложения осуществляется на основании договоров с партнерами.

      p.policy__text 2.4 Информация пользователя может сохраняться на ресурсах Компании и его партнеров в течение срока действия договорных отношений между Компанией и пользователем касаемо Приложения, а также в течение 5 лет после расторжения таких договоров.

      p.policy__text 2.5 Информация Пользователя может быть предоставлена государственным органам в соответствии с требованиями действующего законодательства.

      h3.policy__header2 3. Цели сбора и обработки персональной информации пользователей Сбор, хранение и обработка указанной в разделе 1 настоящих Условий о конфиденциальности информации осуществляется исключительно в следующих конкретных целях:

      p.policy__text 3.1 Для идентификации Пользователя при использовании Приложения.

      p.policy__text 3.2 Для персонализации учета посещений (в том числе с целью предоставления персонализированных услуг Пользователю) и регистрации действий Пользователя использует Cookies.

      p.policy__text 3.3 Для осуществления взаимодействия с Пользователем в рамках заключенных с Компанией договоров или соглашений.

      p.policy__text 3.4 Для осуществления взаимодействия с Пользователем в рамках заключенных с ООО «Социальные цифровые платформы» договоров или соглашений.
